{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}
    <div class="main-content-wrapper">
        <div class="page-inner section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-title">
                            <h2>Авторизация</h2>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-10">
                        <div class="form-box">
                            <form class="form" action="#">
                                <div class="form__group row align-items-center">
                                    <label for="username" class="col-md-3 col-12 form__label text-md-right col-form-label">Email</label>
                                    <div class="col-md-7 col-lg-6 col-12">
                                        <input type="text" name="_username" id="username" class="form__input" value="{{ last_username }}" required="required" autocomplete="username">
                                    </div>
                                </div>
                                <div class="form__group row align-items-center">
                                    <label for="login_password" class="col-md-3 col-12 form__label text-md-right">{{ 'security.login.password'|trans }}</label>
                                    <div class="col-md-7 col-lg-6 col-12">
                                        <input type="password" name="_password" id="password" class="form__input" required="required" autocomplete="current-password">
                                    </div>
                                </div>
                                <div class="form__group row align-items-center">
                                    <div class="col-lg-6 col-12 offset-lg-3 text-center">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="remember_me" name="_remember_me" value="on" />
                                            <label for="remember_me" class="form-check-label">{{ 'security.login.remember_me'|trans }}</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="form__group row align-items-center">
                                    <div class="col-lg-6 col-12 offset-lg-3 text-center">
                                        <button type="submit" class="btn btn--small btn-style-3" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}">Войти</button>
                                    </div>
                                </div>
                            </form>
                            <a class="create-account-link" href="{{ path('fos_user_registration_register') }}">Зарегестрироваться</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</form>
