{% trans_default_domain 'FOSUserBundle' %}
<div class="breadcumb-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <ul class="breadcumb">
                    <li class="breadcumb__list"><a class="breadcumb__link" href="{{ path('home_page') }}">Главная</a></li>
                    <li class="breadcumb__list"><a class="breadcumb__link current" href="{{ path('fos_user_registration_register') }}">Регистрация</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
        <!--- Registration Form ---->
<div class="main-content-wrapper">
<div class="page-inner section-padding">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2>Создание аккаунта</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-7 col-md-11">
                <div class="form-box">
                    <span class="mb--20">Есть аккаунт? <a href="{{ path('fos_user_security_login') }}">Войдите!</a></span>
                        <form class="form" action="#">
                            {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
                            <div class="form__group row align-items-center">
                                <div class="form__group row align-items-center" style="flex-basis: 100%;">
                                    <label for="fos_user_registration_form_username" class="col-md-3 col-12 form__label text-md-right">Имя пользователя</label>
                                    <div class="col-md-7 col-lg-6 col-12">
                                        {{ form_widget(form.username, { 'attr': {'class': 'form-control input-lg' , 'placeholder': 'form.username'|trans } }) }}
                                        {{ form_errors(form.username) }}
                                    </div>
                                </div>
                                <div class="form__group row align-items-center" style="flex-basis: 100%;">
                                    <label for="fos_user_registration_form_email" class="col-md-3 col-12 form__label text-md-right">Электронная почта</label>
                                    <div class="col-md-7 col-lg-6 col-12">
                                        {{ form_widget(form.email, { 'attr': {'class': 'form-control input-lg', 'placeholder': 'form.email'|trans } }) }}
                                        {{ form_errors(form.email) }}
                                    </div>
                                </div>
                                <div class="form__group row align-items-center" style="flex-basis: 100%;">
                                    <label for="email" class="col-md-3 col-12 form__label text-md-right">Пароль</label>
                                    <div class="col-md-7 col-lg-6 col-12">
                                        {{ form_widget(form.plainPassword.first)}}
                                        {{ form_errors(form.plainPassword.first) }}
                                    </div>
                                </div>
                                <div class="form__group row align-items-center" style="flex-basis: 100%;">
                                    <label for="email" class="col-md-3 col-12 form__label text-md-right">Подтверждение пароля</label>
                                    <div class="col-md-7 col-lg-6 col-12">
                                        {{ form_widget(form.plainPassword.second)}}
                                        {{ form_errors(form.plainPassword.first) }}
                                    </div>
                                </div>
                                <div class="form__group row p-0 mb-20" style="flex-basis: 100%;">
                                    <div class="col-12 text-center">
                                        <input type="submit"  class="btn btn-small btn-style-3" value="{{ 'registration.submit'|trans }}" />
                                    </div>
                                </div>
                            </div>
            {{ form_end(form) }}
                        </form>

            </div>
        </div>
    </div>
</div>
</div>
</div>
