
                        {% for product in products %}
                            <div class="col-xl-4 col-md-6">
                                <!-- Product Box Start -->
                                <div class="product-box variable-product">
                                    <div class="product-box__meta">
                                        <a href="{{ path('products_item', {'id': product.id}) }}" class="product-box__category">Обзор</a>
                                        {% if product.realSalePrice %}
                                            {% set discount = (100 - (product.realPrice/product.realSalePrice)*100) %}
                                            <span class="product-box__sticker product-box__sticker--discount">{{ discount|round }}%</span>
                                        {% endif %}
                                    </div>
                                    <div class="product-box__image">
                                        {% if product.images is not empty %}
                                            <img src="{{ vich_uploader_asset( product.images[0], 'imageFile')|imagine_filter('squared_thumbnail') }}" alt="product image" class="primary_image">
                                            <img src="{{ vich_uploader_asset( product.images[1], 'imageFile')|imagine_filter('squared_thumbnail') }}" alt="product image" class="secondary_image">
                                        {% else %}
                                            <img src="{{ asset('img/No_image_available.jpg')|imagine_filter('squared_thumbnail') }}">
                                        {% endif %}                                                    </div>
                                    <div class="product-box__footer">
                                        <div class="product-box__desc">
                                            <a href="{{ path('products_item', {'id': product.id}) }}" class="product-box__title">{{ product.name }}</a>
                                            <p class="product-box__price">
                                                {% if product.salePrice %}
                                                    <span class="sale-price">{{ product.realSalePrice|localizedcurrency('UAH') }}</span>
                                                    <span class="regular-price">{{ product.realPrice|localizedcurrency('UAH') }}</span>
                                                {% endif %}
                                                {% if product.salePrice == null %}
                                                    <span class="sale-price">{{ product.realPrice|localizedcurrency('UAH') }}</span>
                                                {% endif %}
                                            </p>
                                        </div>
                                        <div class="product-box__links">
                                            <a href="{{ path('orders_add_to_cart', {'id': product.id}) }}" class="btn add-to-cart btn-style-7 ">Добавить в корзину</a>
                                        </div>
                                    </div>
                                </div>

                                <!-- Product Box End -->
                            </div>
                        {% endfor %}