{% extends 'base.html.twig' %}

{% block title %}{{ product.name }}{% endblock %}

{% block body %}
    <div class="breadcumb-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <ul class="breadcumb">
                        <li class="breadcumb__list"><a class="breadcumb__link"
                                                       href="{{ path('home_page') }}">Главная</a></li>
                        <li class="breadcumb__list"><a class="breadcumb__link" href="{{ path('shop') }}">Магазин</a>
                        </li>
                        <li class="breadcumb__list"><a class="breadcumb__link"
                                                       href="{{ path('category_item', {'id': product.categories.id}) }}">{{ product.categories.name }}</a>
                        </li>
                        <li class="breadcumb__list"><a class="breadcumb__link current"
                                                       href="{{ path('products_item', {'id': product.id}) }}">{{ product.name }}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Main Content Wrapper Start -->
    <div class="main-content-wrapper">
        <div class="single-products-area section-padding">
            <!-- Single Product Start -->
            <section class="single-product pb--40">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">
                            <!-- Tab Content Start -->
                            <div class="tab-content product-thumb-large" id="myTabContent-3">
                                <div class="tab-pane fade show active" id="product-large-one">
                                    <div class="single-product__img">
                                        {% if product.images is not empty %}
                                        <img src="{{ vich_uploader_asset(product.images[0], 'imageFile') }}" alt="">
                                        <a href="{{ vich_uploader_asset(product.images[0], 'imageFile') }}" class="single-product__img--popup popup-link">
                                            <i class="fa fa-search-plus"></i>
                                        </a>
                                            {% else %}
                                                <img src="{{ asset('img/No_image_available.jpg')|imagine_filter('squared_thumbnail') }}" alt="product image" class="primary_image">
                                        {% endif %}
                                    </div>
                                </div>
                                {% if product.images is not empty %}
                                {% for image in product.images %}
                                <div class="tab-pane fade" id="product-large-two">
                                    <div class="single-product__img">
                                        <img src="{{ vich_uploader_asset(image, 'imageFile')|imagine_filter('squared_thumbnail') }}" alt="product">
                                        <a href="{{ vich_uploader_asset(image, 'imageFile')|imagine_filter('squared_thumbnail') }}" class="single-product__img--popup popup-link">
                                            <i class="fa fa-search-plus"></i>
                                        </a>
                                    </div>
                                </div>
                                {% endfor %}
                                {% endif %}
                            </div>
                            <!-- Tab Content End -->

                            <!-- Product Thumbnail Carousel Start -->
                            <div class="product-thumbnail">
                                <div class="thumb-menu owl-carousel" id="thumbmenu2">
                                    {% if product.images is not empty %}
                                    {% for image in product.images %}
                                    <div class="thumb-menu-item">
                                        <a href="{{ vich_uploader_asset(image, 'imageFile') }}" class="nav-link active">
                                            <img src="{{ vich_uploader_asset(image, 'imageFile') }}" alt="product thumb">
                                        </a>
                                    </div>
                                    {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                            <!-- Product Thumbnail Carousel End -->
                        </div>
                        <div class="col-lg-7">
                            <!-- Single Product Content Start -->
                            <div class="single-product__content">
                                <h2 class="single-product__name">{{ product.name }}</h2>
                                <a class="single-product__review-btn" data-toggle="modal" data-target="#reviewModal"><i
                                            class="fa fa-pencil"></i> Оставить отзыв</a>
                                <div class="single-product__price">
                                    {% if product.realSalePrice != null %}
                                    <span class="regular-price">{{ product.realPrice|localizedcurrency('UAH') }}</span>
                                    <span class="sale-price">{{ product.realSalePrice|localizedcurrency('UAH') }}</span>
                                        <span class="discount-badge">Cкидка {{ (100 - (product.realPrice/product.realSalePrice)*100)|round }} %</span>
                                    {% endif %}
                                    {% if product.realSalePrice == null %}
                                    <span class="sale-price">{{ product.realPrice|localizedcurrency('UAH') }}</span>
                                    {% endif %}
                                </div>
                                <div class="product-action-wrapper pb--30">
                                    <a href="{{ path('orders_add_to_cart', {'id': product.id}) }}" class="btn add-to-cart btn-style-7">
                                        Добавить в корзину
                                    </a>
                                </div>
                                <p class="product-availability"><i class="fa fa-check"></i> In Stock</p>
                                    <span>Поделиться через : </span>
                                    <br>
                                    <br>
                                    <ul class="social ml--30">
                                        <li class="social__item"><a href="http://demo.devitems.com/kobe-preview/kobe/facebook.com" class="social__link"><i class="fa fa-facebook social__icon"></i></a></li>
                                        <li class="social__item"><a href="http://demo.devitems.com/kobe-preview/kobe/twitter.com" class="social__link"><i class="fa fa-twitter social__icon"></i></a></li>
                                        <li class="social__item"><a href="http://demo.devitems.com/kobe-preview/kobe/plus.google.com" class="social__link"><i class="fa fa-google-plus social__icon"></i></a></li>
                                        <li class="social__item"><a href="http://demo.devitems.com/kobe-preview/kobe/pinterest.com" class="social__link"><i class="fa fa-pinterest social__icon"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- Single Product Content End -->
                        </div>
                    </div>
                </div>
            </section>
            <!-- Single Product End -->

            <!-- Single Product Tab Start -->
            <section class="single-product-tab pt--30 pb--30">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="single-product-tab__head nav nav-tab" id="singleProductTab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-desc-tab" data-toggle="tab" href="#nav-desc"
                                   role="tab" aria-controls="nav-desc" aria-selected="true">Описание</a>
                                <a class="nav-item nav-link" id="nav-details-tab" data-toggle="tab" href="#nav-details"
                                   role="tab" aria-controls="nav-details" aria-selected="true">Характеристики</a>
                                <a class="nav-item nav-link" id="nav-review-tab" data-toggle="tab" href="#nav-review"
                                   role="tab" aria-controls="nav-review" aria-selected="true">Отзывы</a>
                            </div>
                            <div class="single-product-tab__content tab-content">
                                <div class="tab-pane fade show active" id="nav-desc" role="tabpanel" aria-labelledby="nav-desc-tab">
                                    <p class="product-description">{{ product.description }}</p>
                                </div>
                                <div class="tab-pane" role="tabpanel" id="nav-details" aria-labelledby="nav-details-tab">
                                    <div class="product-details">
                                        <div class="product-quantities">
                                            <label>В наличии</label>
                                            <span>{{ random(20, 100) }} штук.</span>
                                        </div>
                                        <div class="product-out-of-stock"></div>
                                        <div class="product-features">
                                            <h3>Характеристики</h3>
                                            <ul class="data-sheet">
                                                {% for array in attributes %}
                                                    {% for key,value in array %}
                                                        <li>{{ key }}: {{ value }}</li>
                                                    {% endfor %}
                                                {% endfor %}

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" role="tabpanel" id="nav-review" aria-labelledby="nav-review-tab">
                                    <a class="review-btn" data-toggle="modal" data-target="#reviewModal">Будьте первым
                                        кто оставит отзыв!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Single Product Tab End -->

            <!-- Related Product Area Start -->
            <section class="related-product pt--30">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="section-title">
                                <h2>Похожие продукты</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="related-product__carousel owl-carousel js-related-product">
                                <!-- Product Box Start -->
                                {% for products in relatedProducts %}
                                <div class="product-box variable-product">
                                    <div class="product-box__meta">
                                        <a href="{{ path('products_item', {'id': product.id}) }}" class="product-box__category">обзор</a>
                                        {% if product.realSalePrice is null %}
                                        <span class="product-box__sticker product-box__sticker--discount">{{ (100 - (product.realPrice/product.realSalePrice)*100)|round }}%</span>
                                        {% endif %}
                                    </div>
                                    <div class="product-box__image">
                                        {% if products.images is not empty %}
                                            {% if products.images[0] is not empty %}
                                        <img src="{{ vich_uploader_asset(products.images[0], 'imageFile')|imagine_filter('squared_thumbnail') }}" alt="product image" class="primary_image">
                                                {% endif %}
                                            {% if products.images[1] is not empty %}
                                        <img src="{{ vich_uploader_asset(products.images[1], 'imageFile')|imagine_filter('squared_thumbnail') }}" alt="product image" class="secondary_image">
                                                {% endif %}
                                            {% else %}
                                            <img src="{{ asset('img/No_image_available.jpg')|imagine_filter('squared_thumbnail') }}" alt="product image" class="primary_image">
                                         {% endif %}
                                    </div>
                                    <div class="product-box__footer">
                                        <div class="product-box__desc">
                                            <a href="single-product.html" class="product-box__title">{{ products.name }}</a>
                                            <p class="product-box__price">
                                                {% if products.realSalePrice != null %}
                                                    <span class="regular-price">{{ products.realPrice|localizedcurrency('UAH') }}</span>
                                                    <span class="sale-price">{{ products.realSalePrice|localizedcurrency('UAH') }}</span>
                                                {% endif %}
                                                {% if products.realSalePrice == null %}
                                                    <span class="sale-price">{{ products.realPrice|localizedcurrency('UAH') }}</span>
                                                {% endif %}
                                            </p>
                                        </div>
                                        <div class="product-box__links">
                                            <a href="{{ path('orders_add_to_cart', {'id': products.id}) }}" class="btn add-to-cart btn-style-2">Добавить в корзину</a>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                <!-- Product Box End -->
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Related Product Area End -->
        </div>
    <!-- Main Content Wrapper End -->
{% endblock %}
