
<!-- Modal -->
<div class="modal fade" id="productModal{{ product.id }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-5">
                        <div class="tab-content product-thumb-large">
                            {% if product.images is not empty %}
                            <div id="thumb1" class="tab-pane active show fade">
                                <img src="{{ vich_uploader_asset(product.images[0], 'imageFile')|imagine_filter('squared_thumbnail') }}" alt="product thumb">
                            </div>
                            {% else %}
                                <div id="thumb1" class="tab-pane active show fade">
                                    <img src="{{ asset('img/No_image_available.jpg')|imagine_filter('squared_thumbnail') }}" alt="product thumb">
                                </div>
                            {% endif %}
                        </div>
                        <div class="product-thumbnail">
                            <div class="thumb-menu owl-carousel" id="thumbmenu">
                                {% if product.images is not empty %}
                                {% for image in product.images %}
                                <div class="thumb-menu-item">
                                    <a href="" data-toggle="tab" class="nav-link active">
                                        <img src="{{ vich_uploader_asset(image, 'imageFile')|imagine_filter('squared_thumbnail') }}" alt="product thumb">
                                    </a>
                                </div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <h3 class="product-title">{{ product.name }}</h3>
                        <div class="product-price">
                            {% if product.salePrice == 0 %}
                            <span class="sale-price">{{ product.realPrice|localizedcurrency('UAH') }}</span>
                            {% else %}
                            <span class="sale-price">{{ product.realSalePrice|localizedcurrency('UAH') }}</span>
                            {% endif %}
                        </div>
                        <p class="product-desc">{{ product.description|truncate(50) }}</p>
                        <div class="product-varients">
                            <div class="product-varients__color pb--40">
                                <p class="product-varients__label">Color</p>
                                <ul class="product-varients__color--group">
                                    <li>
                                        <input type="radio" id="dark" name="varient-color" class="product-varients__color--input">
                                        <label for="dark" class="product-varients__color--label dark-color"></label>
                                    </li>
                                    <li>
                                        <input type="radio" id="yellow-light" name="varient-color" class="product-varients__color--input">
                                        <label for="yellow-light" class="product-varients__color--label yellow-light-color"></label>
                                    </li>
                                    <li>
                                        <input type="radio" id="blue-light" name="varient-color" class="product-varients__color--input">
                                        <label for="blue-light" class="product-varients__color--label blue-light-color"></label>
                                    </li>
                                    <li>
                                        <input type="radio" id="yellow" name="varient-color" class="product-varients__color--input">
                                        <label for="yellow" class="product-varients__color--label yellow-color"></label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="product-action-wrapper pb--30">
                            <a href="{{ path('orders_add_to_cart', {'id': product.id}) }}" class="btn add-to-cart btn-style-7">
                                В корзину
                            </a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="social-share">
                    <span>Поделиться</span>
                    <ul class="social ml--30">
                        <li class="social__item"><a href="" class="social__link"><i class="fa fa-facebook social__icon"></i></a></li>
                        <li class="social__item"><a href="" class="social__link"><i class="fa fa-twitter social__icon"></i></a></li>
                        <li class="social__item"><a href="" class="social__link"><i class="fa fa-google-plus social__icon"></i></a></li>
                        <li class="social__item"><a href="" class="social__link"><i class="fa fa-pinterest social__icon"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


