{% extends 'base.html.twig' %}

{% block title %}Shop{% endblock %}

{% block body %}

    <!-- Page Header Start -->
    <section class="page-header">
        <h2 class="page-title color--white">Магазин</h2>
    </section>
    <!-- Page Header End -->

    <!-- Breadcumb area Start -->
    <div class="breadcumb-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <ul class="breadcumb">
                        <li class="breadcumb__list"><a class="breadcumb__link" href="{{ path('home_page') }}">Главная</a></li>
                        <li class="breadcumb__list"><a class="breadcumb__link current" href="{{ path('shop') }}">Магазин</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcumb area End -->

    <!-- Main content wrapper Start -->
    <div class="main-content-wrapper">
        <div class="shop-area section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 order-lg-1 order-2">
                        <!-- Sidebar Start -->
                        <aside class="sidebar shop-sidebar">


                            <!-- Best Seller Product Area Start -->
                            <div class="best-seller-product">
                                <div class="section-title section-title--3">
                                    <h2>Популярные</h2>
                                </div>
                                <div class="best-seller-product__carousel--4 owl-carousel js-best-seller-carousel-2">
                                    <div class="best-seller-product__group--2">

                                        <!-- Product Box Small Start -->
                                        {% for product in products %}
                                        {% if product.isTop == 1 %}
                                        <div class="product-box product-box--small variable-product">
                                            <div class="product-box__left">
                                                <div class="product-box__image">
                                                    {% set break = false %}
                                                    {% for image in product.images if not break%}
                                                        {% if loop.index == 1 %}
                                                        <img src="{{ vich_uploader_asset(image, 'imageFile') }}" alt="" class="primary_image">
                                                        {% endif %}
                                                        {% if loop.index == 2 %}
                                                        <img src="{{ vich_uploader_asset(image, 'imageFile') }}" alt="" class="secondary_image">
                                                        {% set break = true %}
                                                        {% endif %}
                                                    {% endfor %}

                                                </div>
                                            </div>
                                            <div class="product-box__right">
                                                <div class="product-box__desc">
                                                    <a href="{{ path('products_item', {'id': product.id }) }}" class="product-box__title">{{ product.name }}</a>
                                                    <p class="product-box__price">
                                                        {% if product.salePrice %}
                                                        <span class="sale-price">{{ product.realSalePrice }}</span>
                                                        <span class="regular-price">{{ product.realPrice }}</span>
                                                        {% endif %}
                                                        {% if product.salePrice == null %}
                                                        <span class="sale-price">{{ product.realPrice }}</span>
                                                        {% endif %}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                            {% endif %}
                                        {% endfor %}
                                        <!-- Product Box Small End -->
                                    </div>
                                </div>
                            </div>
                            <!-- Best Seller Product Area End -->
                        </aside>
                        <!-- Sidebar End -->
                    </div>
                    <div class="col-lg-9 order-lg-2 order-1 mb-md--30">
                        <div class="shop-toolbar d-flex flex-md-row flex-column justify-content-between align-items-md-center">
                            <div class="shop-toolbar__grid-list">
                                <span class="shop-toolbar__product-count">Товаров на странице {{ products|length }}</span>
                            </div>
                        </div>
                        <!-- Shop Layout Start -->
                        <div class="main-shop-wrapper">
                            <div class="tab-content" id="myTabContent-2">
                                <div class="tab-pane show active" id="grid">
                                    <div class="product-grid-view">
                                        <div class="row no-gutters">
                                            {{ include('product/_productList.html.twig', {'products': products}) }}
                                        </div>
                                        <div class="product-pagintaion d-flex flex-column flex-md-row justify-content-between align-items-md-center">
                                            {% set thispage = app.request.get('page') %}
                                            {% set leftBorderPage = thispage-1 %}
                                            {% set rightBorderPage = thispage+1 %}
                                            {% set currentPath = path(app.request.attributes.get('_route'),
                                                app.request.attributes.get('_route_params')) %}
                                            {% set lastPage = products.getTotalItemCount/12 %}
                                            {% if lastPage|round != lastPage %}
                                            {% set lastPage = lastPage+1 %}
                                            {% endif %}
                                            <p class="showing-product">Всего {{ products.getTotalItemCount }} товаров</p>
                                            <ul class="page-list">
                                                {% if leftBorderPage > 0 %}
                                                    <li class="prev"><a href="{{ currentPath~'?page='~leftBorderPage }}"><i class="fa fa-angle-left"></i>Предыдущая</a></li>
                                                    <li><a href="{{ currentPath~'?page='~leftBorderPage }}">{{ leftBorderPage }}</a></li>
                                                {% endif %}
                                                <li class="current">{{ app.request.get('page') }}<a href="{{ currentPath~'?page='~thispage }}"></a></li>

                                                {% if thispage != lastPage %}
                                                <li><a href="{{ currentPath~'?page='~rightBorderPage }}">{{ rightBorderPage }}</a></li>
                                                    {% if thispage == null and lastPage >= 4 %}
                                                        <li><a href="{{ currentPath~'?page='~2 }}">2</a></li>
                                                        <li><a href="{{ currentPath~'?page='~3 }}">3</a></li>
                                                    {% endif %}
                                                    {% if thispage+2 < lastPage %}
                                                        <li> . . . <a href="{{ currentPath~'?page='~lastPage|round }}">&nbsp;&nbsp;&nbsp; {{ lastPage|round }}</a>
                                                        </li>
                                                    {% endif %}
                                                <li class="next"><a href="{{ currentPath~'?page='~rightBorderPage }}">Следующая<i class="fa fa-angle-right"></i> </a></li>
                                                {% endif %}

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                                    </div>
                        <!-- Shop Layout End -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main content wrapper End -->


                            {% endblock %}
