
                    <div class="row">
                        <div class="col-12">
                            <!-- Cart Area Start -->
                            <form action="#" class="form form--cart">
                                <div class="cart-table table-content table-responsive">
                                    <table class="table mb--30">
                                        <thead>
                                        <tr>
                                            <th>remove</th>
                                            <th>Images</th>
                                            <th>Product</th>
                                            <th>Unit Price</th>
                                            <th>Quantity</th>
                                            <th>Total</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for item in cart.items %}
                                        <tr>
                                            <td><a href="{{ path('orders_remove_item', {'id': item.id}) }}"><i class="fa fa-times"></i></a></td>
                                            {%  if item.image is not empty %}
                                            <td><img src="{{ vich_uploader_asset( item.image[1], 'imageFile')|imagine_filter('squared_thumbnail') }}" alt="{{ item.product.name }}"></td>
                                            {% else %}
                                            <td><img src="{{ asset('img/no-image-icon-5.png')|imagine_filter('squared_thumbnail') }}" alt="{{ item.product.name }}"></td>
                                            {% endif%}
                                            <td class="cart-product-price"><h3><a href="{{ path('products_item', {'id': item.product.id }) }}"> {{ item.product.name }} </a></h3></td>
                                            <td><strong>{{ item.productPrice|money }}</strong></td>
                                            <td>
                                                <div class="quantity">
                                                    <input type="number" value="{{ item.count }}" min="1"  class="quantity-input js-item-quantity"
                                                           data-href="{{ path('orders_set_item_count', {'id': item.id}) }}">
                                                    <button class="dec qtybutton"></button>
                                                    <button class="inc qtybutton"></button>
                                                </div>
                                                </div>
                                            </td>
                                            <td><strong>{{ item.summaryPrice|money }}</strong></td>
                                        </tr>
                                        {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                            </form>
                            <!-- Cart Area End -->
                        </div>
                    </div>


<!-- Main content wrapper end -->