{% extends 'base.html.twig' %}

{% block title %}Cart{% endblock %}

{% block body %}

<!-- Page Header Start -->
<section class="page-header">
    <h2 class="page-title color--white">Cart</h2>
</section>
<!-- Page Header End -->
<!-- Breadcumb area Start -->
<div class="breadcumb-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <ul class="breadcumb">
                    <li class="breadcumb__list"><a class="breadcumb__link" href="{{ path('home_page') }}">Главная</a></li>
                    <li class="breadcumb__list"><a class="breadcumb__link current" href="{{ path('orders') }}">Корзина</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>


<div class="main-content-wrapper">
    <div class="cart-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12">
                            <div class="section-title">
                                <h2>Корзина</h2>
                            </div>
                        </div>
                    </div>
    <div id="cartItems">
    {{ include('orders/cartItems.html.twig', {'cart': cart })}}
    </div>
                    <div class="row justify-content-md-end">
                        <div class="col-md-5">
                            <div class="cart-page-total">
                                <h2>Всего </h2>
                                <ul>
                                    <li>
                                        <span>К оплате :</span>
                                        <span>{{ cart.orderPrice|money }}</span>
                                    </li>
                                </ul>
                                <a class="btn btn--small btn-style-3" href="{{ path('orders_create_order') }}">Заказать</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</div>
    </div>
    </div>
{% endblock %}
