{% extends 'base.html.twig' %}

{% form_theme form 'bundles/TwigForm/form_div_layout.html.twig' %}
{% block title %} Оформление заказа {% endblock %}

{% block body %}
    <section class="page-header">
        <h2 class="page-title color--white">Оформление заказа</h2>
    </section>
    <div class="breadcumb-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <ul class="breadcumb">
                        <li class="breadcumb__list"><a class="breadcumb__link" href="{{ path('home_page') }}">Главная</a></li>
                        <li class="breadcumb__list"><a class="breadcumb__link" href="{{ path('orders') }}">Корзина</a></li>
                        <li class="breadcumb__list"><a class="breadcumb__link current" href="{{ path('orders_create_order') }}">Оплата</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="main-content-wrapper">
        <div class="checkout-area section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <!-- Checkout Area Start -->
                        <div class="checkout-area pt--60">
                            <div class="row">
                                <div class="col-lg-7">
                                    <div class="section-title">
                                        <h2>Информация о покупателе</h2>
                                    </div>
                                    {{ form_start(form) }}
                                    <div class="checkout-form">
                                        <form action="#" class="form">
                                            <div class="form-row mb--30">
                                                <div class="form__group col-md-12">
                                                    {{ form_row(form.name, {'label': 'Имя *' , 'attr':{'class':'form__input'}, 'label_attr':{'class': 'form__label'}}) }}
                                                </div>
                                            </div>
                                            <div class="form-row mb--30">
                                                <div class="form__group col-md-12">
                                                    {{ form_row(form.email, {'label': 'Email', 'attr':{'class':'form__input'}, 'label_attr':{'class': 'form__label'}})  }}
                                                </div>
                                            </div>
                                            <div class="form-row mb--30">
                                                <div class="form__group col-md-12">
                                                    {{ form_row(form.phoneNumber, {'label': 'Номер телефона', 'attr':{'class':'form__input'}, 'label_attr':{'class': 'form__label'}})  }}
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form__group col-12">
                                                    {{ form_widget(form.adress, {'label': 'Адрес' ,
                                                        'attr':{'class':'form__input form__input--textarea', 'placeholder': 'Введите адресс'},
                                                        'label_attr':{'class':'form__label'}}) }}

                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-lg-5 mt-md--30">
                                    <div class="section-title">
                                        <h2>Ваш заказ</h2>
                                    </div>
                                    <div class="order-details mb--30">
                                        <table class="order-table">
                                            <thead>
                                            <tr>
                                                <th>Товар</th>
                                                <th>Всего</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% set summary = 0 %}
                                            {% for item in order.items %}
                                            <tr>
                                                <td><a href="{{ path('products_item', {'id': item.product.id}) }}" style="color: black">{{ item.product.name }}</a> <strong>x{{ item.count }}</strong></td>
                                                <td>{{ (item.count * item.productPrice)|money }}</td>
                                            </tr>
                                            </tbody>
                                            {% set summary = summary + (item.count * item.productPrice) %}
                                            {% endfor %}
                                            <tfoot>
                                            <tr class="order-total">
                                                <td>Всего к оплате</td>
                                                <td>{{ summary|money }}</td>
                                            </tr>
                                            </tfoot>
                                        </table>
                                        <button type="submit" class="btn btn-style-3 btn--fullwidth">Закзазать</button>

                                                    {{ form_end(form) }}

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Checkout Area End -->
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}