<div class="header-top__nav header-top__nav--3 d-flex justify-content-lg-center justify-content-center">

    <div class="dropdown header-top__dropdown ">
            {% if app.user %}
                <a class="dropdown-toggle" id="userID" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% if app.user.name %}
                        {{ app.user.name }}
                    {% else %}
                        Аккаунт
                    {% endif %}
                    <i class="fa fa-angle-down"></i>
                </a>
            {% else %}
            <a class="dropdown-toggle" id="userID" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Аккаунт
                <i class="fa fa-angle-down"></i>
            </a>
            {% endif %}
            <div class="dropdown-menu" aria-labelledby="userID">
                <a class="dropdown-item" href="{{ path('fos_user_profile_show') }}">Мой аккаунт</a>
                {% if app.user %}
                    <a class="dropdown-item" href="{{ path('orders') }}">Оплата</a>

                    <a class="dropdown-item" href="{{ path('fos_user_security_logout') }}">Выход</a>
                {% else %}
                <a class="dropdown-item" href="{{ path('fos_user_security_login') }}">Вход</a>
                {% endif %}


            </div>
        </div>
    </div>
